{% extends "PidevSiteBundle:Default:layout.html.twig" %}
{%block content%}
    <h1>Plat creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('plat') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
